.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  text-align: center;
}

.card img {
    width: 100%;
}

.price {
  color: rgb(49, 45, 45);
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(251, 107, 74);
  text-shadow: 1px 1px 1px rgb(49, 45, 45);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.card button:hover {
    background-color: rgb(235, 67, 30);
}
