.myAdsHeader {
  width: 70%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);
  text-align: center;
  font-size: 35px;
  letter-spacing: 1px;
}

.createAdBtn {
  display: block;
  margin: 50px auto;
  border: none;
  background-color: white;
}

.createAdBtn a {
  text-decoration: none;
  background-color: rgb(23, 161, 23);
  border: none;
  border-radius: 15px;
  padding: 15px 50px;
  color: white;
  font-size: 25px;
  box-shadow: 0 0.2em 0.2em -0.2em #204768;
}

.createAdBtn a:hover {
  box-shadow: 0 0.3em 0.3em -0.2em #204768;
  transition: all 0.5s ease;
}

.createAdBtn:hover {
  transform: translateY(-0.1em);
  transition: all 0.5s ease;
}

.adsContainer {
  display: flex;
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.noAdsMsg {
  text-align: center;
  font-style: italic;
}
