nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: RGB(56, 56, 56);
    box-shadow: inset 0 -5px 20px gray;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 5px 20px;
}

.activeLink{
    font-weight: bold;
}

.logo {
    height: 1.5em;
}

.userEmail{
    color: #FB6B4A;
    position: absolute;
    bottom: 3px;
    right: 5px;
    font-size: 11px;
    letter-spacing: 2px;
    font-style: italic;
}