.main {
  background: url(https://images.unsplash.com/photo-1629093173346-cb7b12766c79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  box-shadow: inset 0 5px 50px gray;
  position: absolute;
  width: 100%;
}

.form {
  width: 40%;
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 0 35px 35px 35px;
}

.form * {
  color: #ffffff;
  letter-spacing: 1.5px;
  outline: none;
  border: none;
}

.form h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
}

.form label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
}
.form ::placeholder {
  color: #928c8c;
}

.form input:hover {
  outline: 1px solid rgb(255, 194, 194);
}

.form button {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 80%;
  background-color: #ffffff;
  color: rgb(251, 107, 74);
  padding: 15px 0;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0.4em 0.4em -0.5em white;
  transition: all 0.3s ease;
}

.form button:hover {
  transform: translateY(-0.1em);
  box-shadow: 0 0.5em 0.5em -0.35em rgb(255, 194, 194);
}
